<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fire Alert</title>
  </head>
  <body>
    <div
      style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto"
    >
      <h2 style="color: #ff0000">
        CHỦ ĐỀ: CẢNH BÁO KHẨN CẤP: Nguy cơ cháy tại nhà bạn
      </h2>
      <p>Kính gửi khách hàng,</p>
      <p>
        Chúng tôi mong rằng email này tìm thấy bạn trong tình trạng an toàn và
        tốt lành. Hiện tại, chúng tôi xin gửi đến bạn một cảnh báo khẩn cấp liên
        quan đến nơi ở của bạn.
      </p>
      <p>
        Hệ thống giám sát của chúng tôi đã phát hiện nguy cơ cháy tại nhà bạn.{{text}}
        Các chỉ số cảm biến từ "Trạm chữa cháy" cho thấy mức độ khói và khí gas
        đã tăng cao, điều này có thể chỉ ra tình trạng cháy.
      </p>
      <p>
        <strong>Lưu ý: Vui lòng KHÔNG trả lời email này. Đây là email tự động
          chỉ để cung cấp cảnh báo.</strong>
      </p>
      <p>
        Để đảm bảo an toàn của bạn và người thân, xin vui lòng thực hiện ngay
        lập tức các bước sau:
      </p>
      <ol>
        <li>
          Sơ tán: Nếu bạn đang ở nhà, hãy ngay lập tức rời khỏi tòa nhà. Đảm bảo
          tất cả cư dân, bao gồm cả thú cưng, rời khỏi khu vực an toàn.
        </li>
        <li>
          Liên hệ với Dịch vụ Khẩn cấp: Gọi số điện thoại cấp cứu địa phương (ví
          dụ: 911) để báo cáo vụ cháy và yêu cầu sự hỗ trợ chuyên nghiệp từ cơ
          quan cứu hỏa.
        </li>
        <li>
          Thông báo cho hàng xóm: Nếu có thể, thông báo với hàng xóm của bạn về
          tình hình để đảm bảo an toàn và sức khỏe của họ.
        </li>
        <li>
          Cập nhật thông tin: Khi ra ngoài, hãy giữ khoảng cách an toàn và chờ
          đợi các cơ quan chức năng xử lý tình hình. Xin đừng cố gắng vào bên
          trong tòa nhà cho đến khi nhận được phê duyệt từ phòng cháy chữa cháy.
        </li>
      </ol>
      <p>
        Đội ngũ của chúng tôi cũng đã thông báo với các dịch vụ khẩn cấp liên
        quan về nguy cơ cháy tại nơi ở của bạn để đảm bảo họ có thể đáp ứng kịp
        thời và hỗ trợ.
      </p>
      <p>
        Nếu thông báo này là sai sót hoặc bạn có thông tin bổ sung để cung cấp,
        vui lòng liên hệ với chúng tôi ngay lập tức.
      </p>
      <p>
        Một lần nữa, xin hãy xem cảnh báo này một cách nghiêm túc nhất, và chúng
        tôi chân thành hy vọng bạn và gia đình của bạn sẽ an toàn trong tình
        huống này.
      </p>
      <p>Cám ơn bạn đã hợp tác và thông cảm.</p>
      <p>Trân trọng,</p>
      <p>Vũ Đức Thắng</p>
      <p>Development</p>
      <p>Công ty nhà làm</p>
      <p>Email: thangvu2325@gmail.com</p>
    </div>
  </body>
</html>